
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 200px;
  height: 400px;
  background-color: red;
  margin-bottom: 20px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#quote-box{
  width: 600px;
  height: fit-content;
  background-color: white;
  padding: 30px;
}
#author{
  font-style: italic;
}
#text{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
  font-size: 30px;
  
}
#new-quote{
  display: flex;
  justify-content: space-between;
  align-items: center;
}